{{> header}}

<div>
    <h1><span>{{username}}</span>
    <span>- Todo list -</span>
    <span>{{date}}</span></h1>

    <form class="submit">
        <input type="text" value="Enter Task" class"submit-inp"></input>
        <input type="submit" value="submit" class"submit-inp"></input>
    </form>
    <form>
        <input type="text" value="task 1"></input>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <input type="submit" value="delete"></input>
    </form>
    <form>
        <input type="text" value="task 1"></input>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <input type="submit" value="delete"></input>
    </form>
    <form>
        <input type="text" value="task 1"></input>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <input type="submit" value="delete"></input>
    </form>
    <form>
        <input type="text" value="task 1"></input>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <input type="submit" value="delete"></input>
    </form>
</div>


{{> footer}}