<html>
<head>
  <title>{{title}}</title>
  <style>
    body {
        background-color: powderblue;
        text-align:center;
    }
    h1   {color: blue;}
    .submit{
        width: 100%;
        text-align:center;
    }
    .submit-inp{
        size:150px;
    }
  </style>
</head>
<body>